In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=3bbffe1c3733f3bf730ff9c64a187ad1b1d289251a80396535476742828343ed
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import pandas as pd
import pyspark

In [3]:
df = pd.read_csv('fb_live_thailand.csv')

In [4]:
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0
7046,1050855161656896_1061334757275603,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0
7047,1050855161656896_1060126464063099,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0
7048,1050855161656896_1058663487542730,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0
7049,1050855161656896_1050858841656528,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0

In [10]:
from pyspark import SparkConf, SparkContext

# Initialize Spark context
conf = SparkConf().setAppName("test")
sc = SparkContext(conf=conf)

# Create a simple RDD
rdd = sc.parallelize([1, 2, 3, 4, 5, 2, 3])

# Perform various actions and transformations

# 1. Count the number of elements
count = rdd.count()
print(f"Count: {count}")

# 2. Collect all elements in the RDD
all_elements = rdd.collect()
print(f"All elements: {all_elements}")

# 3. Find the minimum element
min_value = rdd.min()
print(f"Minimum value: {min_value}")

# 4. Find the maximum element
max_value = rdd.max()
print(f"Maximum value: {max_value}")

# 5. Get the top N elements (for example, top 3)
top_n = rdd.top(3)
print(f"Top 3 elements: {top_n}")

# 6. Distinct elements
distinct_rdd = rdd.distinct()
distinct_elements = distinct_rdd.collect()
print(f"Distinct elements: {distinct_elements}")

# 7. Filter elements greater than 3
filtered_rdd = rdd.filter(lambda x: x > 3)
filtered_elements = filtered_rdd.collect()
print(f"Filtered elements (greater than 3): {filtered_elements}")

# 8. Map elements to their squares
mapped_rdd = rdd.map(lambda x: x * x)
mapped_elements = mapped_rdd.collect()
print(f"Mapped elements (squared values): {mapped_elements}")

# 9. FlatMap elements with a transformation
flatmapped_rdd = rdd.flatMap(lambda x: (x, x * 2))
flatmapped_elements = flatmapped_rdd.collect()
print(f"FlatMapped elements (value and double): {flatmapped_elements}")

# 10. Reduce by key example (using a key-value RDD)
kv_rdd = sc.parallelize([(1, 'a'), (2, 'b'), (1, 'c')])
reduced_rdd = kv_rdd.reduceByKey(lambda x, y: x + y)
reduced_elements = reduced_rdd.collect()
print(f"Reduced by key elements: {reduced_elements}")

# 11. Sort by key (for key-value RDD)
sorted_rdd = kv_rdd.sortByKey()
sorted_elements = sorted_rdd.collect()
print(f"Sorted by key elements: {sorted_elements}")

# 12. Aggregate by key (using a key-value RDD)
aggregated_rdd = kv_rdd.aggregateByKey('', lambda acc, value: acc + value, lambda acc1, acc2: acc1 + acc2)
aggregated_elements = aggregated_rdd.collect()
print(f"Aggregated by key elements: {aggregated_elements}")

# 13. Fold by key (using a key-value RDD)
folded_rdd = kv_rdd.foldByKey('', lambda acc, value: acc + value)
folded_elements = folded_rdd.collect()
print(f"Folded by key elements: {folded_elements}")

# 14. Group by key (using a key-value RDD)
grouped_rdd = kv_rdd.groupByKey()
grouped_elements = [(k, list(v)) for k, v in grouped_rdd.collect()]
print(f"Grouped by key elements: {grouped_elements}")

# 15. Join (using two key-value RDDs)
kv_rdd1 = sc.parallelize([(1, 'a'), (2, 'b')])
kv_rdd2 = sc.parallelize([(1, 'x'), (2, 'y'), (3, 'z')])
joined_rdd = kv_rdd1.join(kv_rdd2)
joined_elements = joined_rdd.collect()
print(f"Joined elements: {joined_elements}")

# 16. Left Outer Join (using two key-value RDDs)
left_outer_joined_rdd = kv_rdd1.leftOuterJoin(kv_rdd2)
left_outer_joined_elements = left_outer_joined_rdd.collect()
print(f"Left outer joined elements: {left_outer_joined_elements}")

# 17. Right Outer Join (using two key-value RDDs)
right_outer_joined_rdd = kv_rdd1.rightOuterJoin(kv_rdd2)
right_outer_joined_elements = right_outer_joined_rdd.collect()
print(f"Right outer joined elements: {right_outer_joined_elements}")

# 18. Count by key (using a key-value RDD)
count_by_key = kv_rdd1.countByKey()
print(f"Count by key: {count_by_key}")

# 19. Count by value (for a simple RDD)
count_by_value = rdd.countByValue()
print(f"Count by value: {count_by_value}")

# 20. Collect as Map (for a key-value RDD)
collect_as_map = kv_rdd1.collectAsMap()
print(f"Collect as map: {collect_as_map}")

# 21. Lookup (for a key-value RDD)
lookup_result = kv_rdd1.lookup(1)
print(f"Lookup result for key 1: {lookup_result}")

# 22. First element of the RDD
first_element = rdd.first()
print(f"First element: {first_element}")

# 23. Save RDD to a text file
rdd.saveAsTextFile("output.txt")
print("RDD saved to 'output.txt'.")

# Stop Spark context
sc.stop()

Count: 7
All elements: [1, 2, 3, 4, 5, 2, 3]
Minimum value: 1
Maximum value: 5
Top 3 elements: [5, 4, 3]
Distinct elements: [2, 4, 1, 3, 5]
Filtered elements (greater than 3): [4, 5]
Mapped elements (squared values): [1, 4, 9, 16, 25, 4, 9]
FlatMapped elements (value and double): [1, 2, 2, 4, 3, 6, 4, 8, 5, 10, 2, 4, 3, 6]
Reduced by key elements: [(2, 'b'), (1, 'ac')]
Sorted by key elements: [(1, 'a'), (1, 'c'), (2, 'b')]
Aggregated by key elements: [(2, 'b'), (1, 'ac')]
Folded by key elements: [(2, 'b'), (1, 'ac')]
Grouped by key elements: [(2, ['b']), (1, ['a', 'c'])]
Joined elements: [(1, ('a', 'x')), (2, ('b', 'y'))]
Left outer joined elements: [(1, ('a', 'x')), (2, ('b', 'y'))]
Right outer joined elements: [(1, ('a', 'x')), (2, ('b', 'y')), (3, (None, 'z'))]
Count by key: defaultdict(<class 'int'>, {1: 1, 2: 1})
Count by value: defaultdict(<class 'int'>, {1: 1, 2: 2, 3: 2, 4: 1, 5: 1})
Collect as map: {1: 'a', 2: 'b'}
Lookup result for key 1: ['a']
First element: 1
RDD saved to 'output.txt'.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')